.navbar-brand {
    color: #000000;
    transition: .3s;

    &:hover {
        transform: scale(1.1);
    }
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
}

.nav-link {
    color: #3f51b5;
    font-weight: 500;
    padding: 5px;
    border-radius: 8px;

    &:hover {
        background: #3f51b5;
        color: #fff;
    }
}

.navbar-brand {
    display: none;
    color: #3f51b5 !important;
    font-weight: 600;
}

@media(max-width:991px) {
    .navbar-brand2 {
        display: none !important;
    }

    .navbar-brand {
        display: block;
    }
}