<nav class="navbar navbar-expand-lg navbar-light bg-light ">
    <div class="container">
        <a class="navbar-brand" routerLink=""><mat-icon style="line-height: 30px;" class="text-danger">whatshot</mat-icon> Rosto</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav mx-auto">
                <li class="nav-item">
                    <button mat-button color="primary" class="mt-1" routerLink="/signIn">Login</button>
                </li>
                <li class="nav-item">
                    <a class="navbar-brand navbar-brand2 d-block ms-3" routerLink=""><mat-icon style="line-height: 30px;" class="text-danger">whatshot</mat-icon> Rosto</a>
                </li>
                <li class="nav-item">
                    <button mat-button color="primary" class="mt-1" routerLink="/signUp">SignUp</button>
                </li>
            </ul>
        </div>
    </div>
</nav>